body {
  background-color: green;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slogan h1 {
  color: rgb(255, 255, 180);
  font-size: 100px;
}

.slogan h2 {
  font-size: 70px;
  text-align: center;
}
.slogan {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ffffff;
  font-size: 200px;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
